html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(1em + 1vw);
}

* {
    box-sizing: border-box;
}

#container {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;

    label {
        position: relative;
        margin-top: 0.6rem;

        input {
            border-width: 2px;
            border-radius: 20px;
            color: rgb(154, 154, 154);
            display: inline-block;
            padding-left: 0.5rem;
            padding: 0.3rem;
        }

        .magglass {
            position: absolute;
            font-size: 10px;
            right: 5%;
            bottom: 35%;
        }
    
    }

    .nav1 ul {
        padding: 0;

        h1 {
            font-size: 1.5rem;
            margin-top: 0.5rem;
        }
    }

    .nav1 ul li {
        list-style: none;
        text-align: center;
        margin-top: 1rem;
    }

    .navul2 {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        margin-top: 0.5rem;

        i {
            font-size: 20px;
        }
    }
}

#banner {
    display: flex;
    position: relative;
    overflow: scroll;
    gap: 1rem;

    article {
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-bottom: 1rem;
        width: 100%;
        position: relative;
    
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0.2;
            z-index: -1;
            border-radius: 20px;
        }

        h2, p {
            z-index: 1;
            width: 60vw;
            padding: 1rem;
            padding-right: 2rem;
            margin-top: 0;
            margin-left: 37vw;
            text-align: end;
            max-width: 720px;
        }

        a {
            z-index: 1;
            background-color: rgb(255, 255, 255);
            border-radius: 20px;
            margin-right: 2rem;
            margin-bottom: 1rem;
            padding: 1rem;
        }

        i {
            background-color: rgb(255, 255, 255);
            border-radius: 100%;
            padding: 0.2rem;
        }

        .leftarrow {
            position: absolute;
            top: 50%;
            right: 96%;
        }

        .rightarrow {
            position: absolute;
            top: 50%;
            left: 96%;
        }
    }
}

#popular_products {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        margin-top: 3rem;
        text-align: center;
    }

    #product_category {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 1rem;
    
        a {
            padding: 1rem;
            border-style: solid;
            border-color: rgb(0, 0, 0);
            border-width: 1px;
            border-radius: 20px;
            text-wrap: nowrap;
            margin: 0;
        }
    }
}

#product_grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-left: 1rem;

    article {
        width: 95%;
    
        .producthead, .review {
            max-width: 90%;
        }

        img {
            width: 100%;
            border-radius: 20px;
        }

        h5 {
            margin-top: 0;
        }
    }
}

#product1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 1rem;
}

#product2 {
    margin-top: 0;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#product3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

#product4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

#product5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
}

#product6 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
}

.withheart {
    position: relative;
    display: inline-block;
    color: rgb(255, 255, 255);
    
    i{
        position: absolute;
        top: 10%;
        right: 8%;
        font-size: 20px;
    }
}

.producthead {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.review {
    display: flex;
    gap: 0.2rem;
    
    h5 {
        margin-top: 0.1rem;
        margin-left: 0.6rem;
    }
}

.stars {
    display: flex;
    margin-top: 0;
}

#popular_categories {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    text-align: center;

    h2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-top: 2rem;
    }

    p {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        margin-top: 0;
    }

    #ctg1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    #ctg2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    #ctg3 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    #ctg4 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 7;
    }

    #ctg5 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 7;
        grid-row-end: 8;
        margin-bottom: 1rem;
    }

    article {
        position: relative;

        img {
            border-radius: 20px;
            width: 100%;
            height: 20rem;
            border-style: solid;
            border-color: rgba(0, 0, 0, 1);
            border-width: 5px;
        }
    
        h3 {
            width: 100%;
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);  /*https://www.w3schools.com/howto/howto_css_image_text.asp*/
        }
    }
}

#anmeldelser {
    margin-bottom: 3rem;

    h2 {
        text-align: center;
        margin-top: 2rem;
    }

    .scroll-container {
        display: flex;
        justify-content: start;
        gap: 1rem;
        overflow: scroll;

        .anm {
            border-style: solid;
            border-width: 1px;
            border-color: rgb(154, 154, 154);
            border-radius: 20px;
            padding: 1rem;


            img {
                max-width: 150px;
                border-radius: 100%;
            }
    
            p {
                font-size: 20px;
                width: 15rem;
            }
        }   
    }
}

#contact_information {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: rgb(154, 154, 154);

    font-size: 0.8rem;

    span {
        font-weight: bold;
    }

    #logo_og_ingress {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #kontakt {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;

        padding-right: 1rem;

        li {
            margin-bottom: 0.5rem;
        }

        i {
            margin-right: 0.5rem;
        }
    }

    #snarveier {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    #sosiale_medier {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;

        ul {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        i {
            font-size: 20px;
        }
    }
}



/*-----------------------------------------------------------------------------------------------------------------------*/

#fortogh {
    color: rgb(31, 14, 169);
    font-size: 0.7rem;

    i {
        margin-right: 0.5rem;
    }
}

.brodsmulesti {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-left: 1rem;
    margin-bottom: 0;

    li:last-child {
        font-weight: bold;
    }
}

#productimages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;

    img {
        width: 100%;
        height: 100%;
        padding: 1rem;
    }

    #blomst1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #blomst2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    #blomst3 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    #blomst4 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
    }
}

#product_information {

    #mrknvn {
        text-decoration: underline;
        color: rgb(154, 154, 154);
    }

    span {
        font-weight: bold;
    }

    label select {
        width: 100%;
        border-width: 2px;
        height: 3rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-left: 0.5rem;
        font-size: 0.8rem;
    }

    #kurvoghjerte {
        display: flex;
        width: 100%;
        
        i {
            display: inline-block;
            border-style: solid;
            padding: 0.92rem;
            padding-bottom: 1.02rem;
            height: 100%;
        }
    }

    #shopcart {
        display: inline-block;
        background-color: rgb(0, 0, 0);
        color: white;
        padding: 1rem;
        text-align: center;
        width: 100%;
        margin-bottom: 3rem;
    }

    details {
        padding: 1rem;

        summary {
            list-style: none;
            font-weight: bold;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        span {
            font-weight: 500;
        }
    }

    #det1 {
        
        ul {
            margin-left: 2rem;

            li {
                list-style: circle;
            }
        }
        
    }

    #det1, #det3 {
        border-top: 2px;
        border-top-color: rgb(0, 0, 0);
        border-top-style: solid;
        border-bottom: 2px;
        border-bottom-color: rgb(0, 0, 0);
        border-bottom-style: solid;
    }

    #det3 {

        table {
            font-size: 0.9rem;

            thead tr th {
                padding-right: 1rem;
            }
        }
    }

    #det4 {

        h4 {
            margin-top: 0;
        }

        .stars2 {
            display: flex;
            margin-top: 0;
            gap: 1rem;
        }

        #det4section {
            border-width: 2px;
            border-color: rgb(154, 154, 154);
            border-style: solid;
            border-radius: 20px;
            padding: 1rem;
        }
    }

    .summaryflex {
        display: flex;
        justify-content: space-between;
    }
}

aside {
    margin-bottom: 3rem;
}

#ligprod {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    h2 {
        display: inline-block;
        margin-bottom: 0;
        width: 55%;
    }

    a {
        color: rgb(31, 14, 169);
        display: inline-block;
        margin-top: 1.7rem;

        i {
            margin-left: 0.5rem;
        }
    }
}

h3 {
    margin-top: 1rem;
    margin-right: 1.5rem;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#product_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#product_flex_2 {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    gap: 1rem;

    article {
        
        img {
            max-width: 350px;
            border-radius: 20px;
        }

        .producthead h5 {
            margin-top: 0;
        }
    }
}


/*-----------------------------------------------------------------------------------------------------------------------*/

#cart {
    text-align: center;
    margin-bottom: 3rem;
}

#shopbag {
    
    img {
        width: 60vw;
        height: 100%;
        border-radius: 20px;
    }

    .stor {
        width: fit-content;
        display: inline-block;
        font-size: 0.8rem;
    }

    label {
        margin-left: 1rem;
        font-size: 0.8rem;
    }

    input, select {
        padding: 0.8rem;
    }

    i {
        margin-top: 1rem;
        margin-bottom: 3rem;
        margin-right: 1rem;
    }
}

#userdata {

    h2 {
        margin-top: 0;
    }

    input {
        width: 100%;
        border-width: 2px;
        margin-bottom: 1rem;
        padding: 0.6rem;
        padding-left: 0.2rem;
    }

    label {
        font-weight: bold;
    }

    #lag {
        text-align: center;
        padding: 0.5rem;
        width: 100%;
        color: rgb(255, 255, 255);
        background-color: black;
        margin: auto;
        margin-top: 1rem;
        margin-left: 0;
    }

    a {
        text-decoration: underline;
        text-align: center;
        color: rgb(31, 14, 169);
    }
}

#deli {

    .rad {
        padding: 1rem;
        padding-left: 0;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(107, 107, 107);
    }

    h2 {
        margin-top: 3rem;
    }

    h3 {
        font-size: 0.9rem;
    }
    
    input {
        width: auto;
        margin-left: 1rem;
    }

    label {
        font-size: 0.8rem;
        font-weight: bold;
    }

    .price {
        margin-bottom: 0.5rem;
        margin-left: 1.2rem;
    }

    p {
        margin-left: 1.2rem;
        margin-right: 1rem;
        font-size: 0.8rem;
    }

    .daylivery {
        color: rgb(154, 154, 154);
    }

    i {
        margin-left: 0.25rem;
    }
}

#payment {
    margin-bottom: 3rem;

    h2 {
        margin-top: 3rem;
    }

    h3 {
        font-size: 0.9rem;
    }

    p {
        text-align: center;
        margin: 0.5rem;
    }

    i {
        margin-left: 0.2rem;
    }

    .kortbetalinginput {
        width: 100%;
        border-width: 2px;
        margin-bottom: 1rem;
        padding: 0.6rem;
        padding-left: 0.2rem;
    }

    .kortbetalinglabel {
        font-weight: bold;
        width: 100vw;
        margin-bottom: 1rem;
    }

    #fullforbet {
        border-color: rgb(107, 107, 107);
        border-width: 3px;
        border-style: solid;
        padding: 1rem;
        padding-bottom: 4rem;
    }

    #totpris {
        font-size: 2rem;
        font-weight: bold;
        margin: 0.5rem;
    }

    #kjop {
        text-align: center;
        padding: 1rem;
        width: 100%;
        color: rgb(255, 255, 255);
        background-color: black;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    .bkrbox {
        margin-top: 1rem;
    }

    #vilkorboks {
        text-align: center;
    }
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}



/*SMALL MOBILE*/
@media only screen and (max-width:550px) {

    #product_information {

        #det3 {

            table {
                font-size: 0.6rem;
            }
        }
    }
}



/*MOBILE*/
@media only screen and (max-width:1000px) {

    header input {
        width: 30vw;
    }

    #fortogh {
        font-size: 1rem;
    }

    .prodicons {
        margin-top: 2rem;
    }

    #betalingsform {
        margin-bottom: 1.5rem;
    }

    #banner {

        article {

            i {
                display: none; /*https://www.w3schools.com/css/css_display_visibility.asp*/
            }
        }
    }
}



/*TABLET*/
@media only screen and (min-width:600px) {

    #product_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }
    
    #product1 {
        margin-top: 1rem;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    #product2 {
        margin-top: 1rem;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    #product3 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    #product4 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    #product5 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    
    #product6 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    #popular_categories {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;

        article {
            padding: 0.1rem;

            img {
                height: 10rem;
            }
        }

        h2 {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
        }
    
        p {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
        }
    
        #ctg1 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
            max-width: 386px;

            h3 {
                top: 40%;
            }
        }
    
        #ctg2 {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 4;
            max-width: 386px;

            h3 {
                top: 40%;
            }
        }
    
        #ctg3 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 4;
            grid-row-end: 5;
            max-width: 386px;

            h3 {
                top: 40%;
            }
        }
    
        #ctg4 {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 4;
            grid-row-end: 5;
            max-width: 864px;

            h3 {
                top: 45%;
            }
        }
    
        #ctg5 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 5;
            grid-row-end: 6;
            max-width: 300px;

            h3 {
                top: 45%;
            }
        }
    }
}


/*DESKTOP*/
@media only screen and (min-width: 1000px){

    body {
        max-width: 1200px;
        margin: 0 auto;
    }

    header {
        flex-direction: row;
        justify-content: space-between;
        margin-right: 1rem;
        gap: 1rem;

        label {
            bottom: 1.15rem;
        }

        ul {
            display: flex;
            gap: 1rem;
            font-size: 0.7rem;

            h1 {
                position: relative;
                bottom: 1rem;
                font-size: 1rem;
            }
        }

        .navul2 {
            position: relative;
            margin-bottom: 2rem;
            gap: 1rem;
        }
    }

    #contact_information {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        font-size: 0.7rem;
    
        #logo_og_ingress {
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 2;
        }
    
        #kontakt {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
        }
    
        #snarveier {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
            position: relative;
            left: 15%;
        }
    
        #sosiale_medier {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 3;
            font-size: 1rem;
    
            ul {
                flex-direction: row;
            }
        }
    }

    #product_grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        font-size: 0.7rem;
    }
    
    #product1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    #product2 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    #product3 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-top: 1rem;
    }
    
    #product4 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    #product5 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    #product6 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    #popular_categories {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;

        article {
            padding: 0.1rem;

            img {
                height: 10rem;
            }
        }

        h2 {
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 2;
        }
    
        p {
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 3;
        }
    
        #ctg1 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
            max-width: 386px;

            h3 {
                top: 40%;
            }
        }
    
        #ctg2 {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 4;
            max-width: 386px;

            h3 {
                top: 40%;
            }
        }
    
        #ctg3 {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 3;
            grid-row-end: 4;
            max-width: 386px;

            h3 {
                top: 40%;
            }
        }
    
        #ctg4 {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 4;
            grid-row-end: 5;
            max-width: 864px;

            h3 {
                top: 45%;
            }
        }
    
        #ctg5 {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 4;
            grid-row-end: 5;
            max-width: 300px;
            margin: 0 0 0 auto;

            h3 {
                top: 45%;
            }
        }
    }

    #anmeldelser {
        
        img {
            max-width: 289px;
        }
    }

    #productgrid {

        .producthead, .review {
            max-width: 440px;
        }

        #product1 {
            margin-left: 0.5rem;

            img {
                max-width: 700px;
            }
        }

        #product2 {
            margin-right: 0.5rem;

            img {
                max-width: 700px;
            }
        }

        #product3 {
            margin-left: 0.5rem;

            img {
                max-width: 700px;
            }
        }

        #product4 {
            margin-right: 0.5rem;

            img {
                max-width: 700px;
            }
        }
    }

    #fortogh {
        margin-left: 1rem;
    }

    #productsite {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;

        #brodnav {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 2;
        }

        #productimages {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;

            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
        
            img {
                width: 100%;
                height: 100%;
                padding: 1rem;
            }
        
            #blomst1 {
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 1;
                grid-row-end: 4;
            }
        
            #blomst2 {
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 4;
                grid-row-end: 5;
                max-width: 160px;
            }
        
            #blomst3 {
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 4;
                grid-row-end: 5;
                max-width: 160px;
            }
        
            #blomst4 {
                grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 4;
                grid-row-end: 5;
                max-width: 160px;
            }
        }

        #product_information {
            grid-column-start: 3;
            grid-column-end: 5;
            grid-row-start: 2;
            grid-row-end: 4;

            label select {
                width: 100%;
            }

            #shopcart {
                width: 82%;
            }

            #det3 {

                table {
                    font-size: 0.6rem;
        
                }
            }
        }
    }

    #ligprod {
        margin-top: 2rem;
    }

    #shopbag {

        .myitems {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            margin-bottom: 3rem;

            img {
                width: 100%;
            }

            h3, p {
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 1rem;
                margin-right: 0;
                font-size: 0.8rem;
            }

            a {
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 3;
            }

            .prodinfo {
                margin-top: 1rem;
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 2;
            }

            form {
                margin-top: 1rem;
                grid-column-start: 2;
                grid-column-end: 4;
                grid-row-start: 2;
                grid-row-end: 3;
            }

            .prodicons {
                display: flex;
                flex-direction: column;
                margin-top: 1rem;
                grid-column-start: 4;
                grid-column-end: 5;
                grid-row-start: 1;
                grid-row-end: 2;

                i {
                    margin: 0;
                    margin-bottom: 1rem;
                    width: 100%;
                }
            }
        }
    }

    #userdata {

        #lag {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 4;
            grid-row-end: 5;
        }

        a {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 5;
            grid-row-end: 6;
        }

        #custinfo {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;

            #fr {
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 2;
                margin-right: 0.5rem;
            }

            #er {
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 2;
            }

            #ga {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 3;
            }

            #pn {
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 3;
                grid-row-end: 4;
                margin-right: 0.5rem;
            }

            #ps {
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 3;
                grid-row-end: 4;
            }

            h3 {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 4;
                grid-row-end: 5;
            }

            #ep {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 5;
                grid-row-end: 6;
            }

            #tl {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 6;
                grid-row-end: 7;
            }
        }
    }

    #deli {

        .rad {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;

            label {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 2;
            }

            .price {
                grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 1;
                grid-row-end: 2;
                margin: 0;
                text-align: end;
                margin-right: end;
            }

            .daylivery {
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 2;
                grid-row-end: 3;
            }

            .desc {
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 3;
                grid-row-end: 4;
            }
        }
    }

    #payment {

        #betalingsform {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;

            #betal1 {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 2;
                margin-bottom: 0;
                width: 100%;
            }

            #betal2 {
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 2;
                grid-row-end: 3;
                width: 98%;
            }

            #betal3 {
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 3;
                width: 100%;
            }
        }
    }
}



/*BIG DESKTOP*/
@media only screen and (min-width: 1150px){

    #popular_categories {

        #ctg5 {

            margin-right: 0.2rem;
        }
    }
}