html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(1em + 1vw);
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
        position: relative;

        input {
            border-width: 2px;
            border-radius: 20px;
            color: rgb(154, 154, 154);
            display: inline-block;
            padding-left: 0.5rem;
        }

        .magglass {
            position: absolute;
            font-size: 10px;
            right: 5%;
            bottom: 25%;
        }
    
    }

    .nav1 ul {
        padding: 0;
    }

    .nav1 ul li {
        list-style: none;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .navul2 {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        margin-top: 0;
        margin-bottom: 3rem;

        i {
            font-size: 15px;
        }
    }
}

#banner {
    display: flex;
    position: relative;
    align-items: end;
    gap: 1rem;
    overflow: scroll;

    article {
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-bottom: 1rem;
    
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0.2;
            z-index: -1;
            border-radius: 20px;
        }

        h2, p {
            z-index: 1;
            width: 60vw;
            padding: 1rem;
            padding-right: 2rem;
            margin-left: 37vw;
            text-align: end;
        }

        a {
            z-index: 1;
            background-color: rgb(255, 255, 255);
            border-radius: 20px;
            width: fit-content;
            margin-left: 1rem;
            margin-right: 2rem;
            padding: 1rem;
        }
    }
}

#popular_products {
    display: flex;
    flex-direction: column;
    align-items: center;

    #product_category {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 1rem;
    
        h4 {
            padding: 1rem;
            border-style: solid;
            border-color: rgb(0, 0, 0);
            border-width: 1px;
            border-radius: 20px;
            text-wrap: nowrap;
            margin: 0;
        }
    
        h4:first-child, a:first-child {
            color: rgb(255, 255, 255);
            background-color: rgb(0, 0, 0);
        }
    }

    .producthead {
        display: flex;
        gap: 4rem;
    }

    .review {
        display: flex;
        gap: 0.2rem;
        
        h5 {
            margin-top: 0.1rem;
            margin-left: 0.6rem;
        }
    }
}

#product_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    margin-left: 2rem;

    article {

        img {
            width: 90%;
            border-radius: 20px;
        }

        h5 {
            margin-top: 0;
        }
    }
}

#product1 {
    margin-top: 1rem;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    .withheart {
        position: relative;
        display: inline-block;
        color: #fff;
        
        i{
            position: absolute;
            top: 10%;
            right: 15%;
            font-size: 20px;
        }
    }
}

#product2 {
    margin-top: 1rem;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    .withheart {
        position: relative;
        display: inline-block;
        color: #fff;
        
        i{
            position: absolute;
            top: 10%;
            right: 15%;
            font-size: 20px;
        }
    }
}

#product3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    .withheart {
        position: relative;
        display: inline-block;
        color: #fff;
        
        i{
            position: absolute;
            top: 10%;
            right: 15%;
            font-size: 20px;
        }
    }
}

#product4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    .withheart {
        position: relative;
        display: inline-block;
        color: #fff;
        
        i{
            position: absolute;
            top: 10%;
            right: 15%;
            font-size: 20px;
        }
    }
}

#product5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;

    .withheart {
        position: relative;
        display: inline-block;
        color: #fff;
        
        i{
            position: absolute;
            top: 10%;
            right: 15%;
            font-size: 20px;
        }
    }
}

#product6 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    
    .withheart {
        position: relative;
        display: inline-block;
        color: #fff;
        
        i{
            position: absolute;
            top: 10%;
            right: 15%;
            font-size: 20px;
        }
    }
}

#popular_categories {
    display: flex;
    flex-direction: column;
    text-align: center;

    article {
        position: relative;

        img {
            border-radius: 20px;
            width: 100vw;
            opacity: 0.2;
        }
    
        h3 {
            position: absolute;
            z-index: 1;
            top: 45%;
            left: 53%;
            transform: translate(-50%, -50%);  /*https://www.w3schools.com/howto/howto_css_image_text.asp*/
        }
    }
}

#anmeldelser {

    .scroll-container {
        display: flex;
        gap: 1rem;
        overflow: scroll;

        #anm1 {

            img {
                width: 50vw;
                border-radius: 100%;
            }
    
            p {
                font-size: 20px;
            }
        }
    
        #anm2 {
    
            img {
                width: 50vw;
                border-radius: 100%;
            }
    
            p {
                font-size: 20px;
            }
        }
    
        #anm3 {
    
            img {
                width: 50vw;
                border-radius: 100%;
            }
    
            p {
                font-size: 20px;
            }
        }
    
        #anm4 {
    
            img {
                width: 50vw;
                border-radius: 100%;
            }
    
            p {
                font-size: 20px;
            }
        }
    }
}

#contact_information {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;

    font-size: 0.8rem;

    span {
        font-weight: bold;
    }

    #logo_og_ingress {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;

        margin-top: 3rem;
    }

    #kontakt {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;

        padding-right: 1rem;

        li {
            margin-bottom: 0.5rem;
        }

        i {
            margin-right: 0.5rem;
        }
    }

    #snarveier {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;

        padding-left: 1rem;
    }

    #sosiale_medier {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;

        ul {
            display: flex;
            gap: 1rem;
        }

        i {
            font-size: 20px;
        }
    }
}



/*-----------------------------------------------------------------------------------------------------------------------*/

.brodsmulesti {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    li:last-child {
        font-weight: bold;
    }
}

#productimages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;

    img {
        width: 100%;
        height: 100%;
        padding: 1rem;
    }

    #blomst1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #blomst2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    #blomst3 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    #blomst4 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
    }
}

#product_information {

    #mrknvn {
        text-decoration: underline;
        color: rgb(154, 154, 154);
    }

    span {
        font-weight: bold;
    }

    label select {
        width: 100%;
        border-width: 2px;
        height: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    #shopcart {
        display: inline-block;
        background-color: rgb(0, 0, 0);
        color: white;
        padding: 1rem;
        text-align: center;
        width: 70vw;
        margin-bottom: 3rem;
    }

    i {
        display: inline-block;
        border-style: solid;
        padding: 0.92rem;
        padding-bottom: 1.02rem;
    }
}



/*-----------------------------------------------------------------------------------------------------------------------*/

#cart {
    text-align: center;
    margin-bottom: 3rem;
}

#shopbag {
    
    img {
        width: 50vw;
    }
}

#userdata {

    h2 {
        margin-top: 3rem;
    }

    input {
        width: 90vw;
        border-width: 2px;
    }

    h4 {
        text-align: center;
        padding: 1rem;
        width: 80vw;
        color: rgb(255, 255, 255);
        background-color: black;
        margin: auto;
        margin-top: 2rem;
    }

    a {
        text-align: center;
        text-decoration: underline;
        color: rgb(31, 14, 169);
    }
}

#deli { 
    
    input {
        display: inline-block;
        width: 10vw;
    }

    label {
        display: inline-block;
        width: 80vw;
        margin-bottom: 1rem;
    }

    h2 {
        margin-top: 3rem;
    }
}

#payment {

    h2 {
        margin-top: 3rem;
    }

    .kortbetalinginput {
        width: 90vw;
        border-width: 2px;
    }

    .kortbetalinglabel {
        width: 100vw;
        margin-bottom: 1rem;
    }

    h2 {
        margin-top: 3rem;
    }

    p, h4 {
        text-align: center;
    }

    #kjop {
        text-align: center;
        padding: 1rem;
        width: 80vw;
        color: rgb(255, 255, 255);
        background-color: black;
        margin: auto;
    }

    #boks1 {
        display: flex;
        justify-content: center;
    }

    #boks2 {
        display: flex;
        justify-content: center;
    }
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}





/*SMALL MOBILE*/
@media only screen and (max-width:500px) {
    #product_grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    
    #product1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    #product2 {
        margin-top: 0;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    #product3 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    
    #product4 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    
    #product5 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    
    #product6 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 7;
    }
}